{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">

         <div id="lateral">
             <a href="{% url 'home:home' %}">
                <img  height="90px" style="
                        margin-left: auto;
                        margin-right: auto;
                        display: block;"
                        width="90px"
                        src="{% static 'img/ufmt_logo.png' %}"/>
             </a>
         </div>
        <div class="place banner">
            <h4 class="textoBanner">Análise de Falhas</h4>
        </div>
         <div class="tudo">
                <div class="place" id="pesquisa">
                    <div id="tabelaGeralPesquisa">
                            <form  method="post">
                                {% csrf_token %}
                                <table  class="table" id="tabelaPesquisa">
                                <thead>
                                <tr>
                                    <th style="font-size: 10px;text-align: inherit;">Porcentagem Falhas</th>
                                    <th style="font-size: 10px;text-align: inherit;">Porcentagem Falhas</th>
                                    <th style="font-size: 10px;text-align: inherit;">Tipo de Falha</th>
                                    <th style="font-size: 10px;text-align: inherit;">Falha Conjunto</th>
                                    <th style="font-size: 10px;text-align: inherit;">Variavel Falhada</th>
                                    <th style="font-size: 10px;text-align: inherit;">Metodo</th>
                                    <th style="font-size: 10px;text-align: inherit;">Todos</th>
                                    <th style="font-size: 10px;text-align: inherit;">Pesquisar</th>
                                </tr>
                                </thead>
                                    <tbody>
                                       <tr>
                                            {% for f in form %}
                                                <td style="width: 10px">{{ f }}</td>
                                            {% endfor %}
                                       <td><input name="todosOsArquivos" id="todosOsArquivos" type="checkbox" data-status="desativado"  onclick="pesquiarTodosOsArquivos(this)" value="desativado"></td>
                                        <td><button class="glyphicon glyphicon-search"  name="pesquisa" type="submit" value="Pesquisar"></button></td>
                                       </tr>
                                    </tbody>
                                  </table>
                            </form>
                    </div>
                </div>

                <div class="place resultado">
                     <div>
                        <a class="glyphicon glyphicon-folder-open" style="cursor:pointer" data-dir="/../arquivos" onclick="chamaArquivosAjax(this)" data-toggle="collapse" id="abreUm" data-target="#abre1">/Arquivos</a>
                     </div>

                    <div id="volta_dir"></div>
                    <form method="get" id="baixarPesquisa">
                      {% csrf_token %}
                    <div id="idBaixarPesquisa" style="padding-left: 94%"></div>
                        <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Diretorio/arquivo</th>
                                    <th>Data Modificação</th>
                                    <th>Data Criação</th>
                                    <th>Baixar</th>
                                </tr>
                            </thead>
                            <tbody id="tabela">

                                {% for arquivos in paginado %}
                                    <tr>
                                        <td>{{forloop.counter }}</td>
                                        <td>{{arquivos.arquivo}}</td>
                                        <td>{{ arquivos.modificado }}</td>
                                        <td>{{ arquivos.criado }}</td>
{#                                        <td><a class="glyphicon glyphicon-download" href="{% url "home:download"  arquivos.diretorio|add:"/"|add:arquivos.arquivo %}"></a></td>#}
                                        <td><input name="PESQUISA" id="{{ forloop.counter }}" type="checkbox" data-status="desativado"  onclick="seleciona(this)" value="{{ arquivos.diretorio|add:"/"|add:arquivos.arquivo }}"></td>
                                    </tr>
                                 {% endfor %}
                            </tbody>
                        </table>
                      <div>
{#                          <a class="" onclick="compactaTodaPesquisa(this)" href="#">Baxar toda pesquisa</a>#}
                          <button type="button" class="btn btn-info btn-group-sm" data-toggle="modal" data-target="#myModal">Baixar Pesquisa</button>
                      </div>
                       <div id="paginacao" class="pagination">
                            <span class="step-links">
                                {% if paginado.has_previous %}
                                    <a href="?page={{ paginado.previous_page_number }}">Anterior</a>
                                {% endif %}

                                <span class="current">
                                    Paginas {{ paginado.number }} de {{ paginado.paginator.num_pages }}.
                                </span>

                                {% if paginado.has_next %}
                                    <a href="?page={{ paginado.next_page_number}}">Próxima</a>
                                {% endif %}
                            <p>Total arquivos encontrados</p>
                            </span>
                      </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Baixar pesquisa</h4>
      </div>
      <div class="modal-body">
        <p style="color: red">Ao inserir seu email você será avisado quando o download estiver pronto.</p>
        <p>Os arquivos serão compactados em formato zip, dependendo da quantidade de arquivos solicitados
            o processo pode demorar minutos ou taé horas para ser concluído.</p>
          <div style="padding-left:20%">
              <label>Email</label>
              <input name="email" id="email" type="email">
          </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" href="{% url "home:requisicao_enviada" %}" >Enviar</a>
      </div>
    </div>

  </div>
</div>

{%  endblock %}

